.home-page {
  display: flex;
  flex-direction: column;
  height: 3268px;
  align-items: center;
  justify-content: space-between;
  position: relative;
  background-color: #ffffff;
  overflow-x: hidden;
}

.home-page .navigation {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 24px 24px;
  padding: 24px 42px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  background-color: #edd8dd;
}

.home-page .menu-items {
  display: inline-flex;
  align-items: flex-start;
  justify-content: flex-end;
  gap: 24px;
  position: relative;
  flex: 0 0 auto;
}

.home-page .text-wrapper {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  white-space: nowrap;
  font-style: var(--body-text-font-style);
}

.home-page .header-section {
  flex-wrap: wrap;
  width: 1280px;
  height: 611px;
  align-items: center;
  justify-content: center;
  gap: 68px 42px;
  padding: 42px 24px;
  margin-top: -3.8px;
  background-color: #f5eee6;
  display: flex;
  position: relative;
}

.home-page .header-content {
  flex-direction: column;
  min-width: 320px;
  max-width: 620px;
  align-items: flex-start;
  gap: 48px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  position: relative;
}

.home-page .title-subtitle {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.home-page .div {
  position: relative;
  align-self: stretch;
  margin-top: -1px;
  font-family: var(--subtitle-font-family);
  font-weight: var(--subtitle-font-weight);
  color: var(--black);
  font-size: var(--subtitle-font-size);
  letter-spacing: var(--subtitle-letter-spacing);
  line-height: var(--subtitle-line-height);
  font-style: var(--subtitle-font-style);
}

.home-page .visual-designer {
  position: relative;
  align-self: stretch;
  font-family: var(--h1-font-family);
  font-weight: var(--h1-font-weight);
  color: var(--black);
  font-size: var(--h1-font-size);
  letter-spacing: var(--h1-letter-spacing);
  line-height: var(--h1-line-height);
  font-style: var(--h1-font-style);
}

.home-page .text-wrapper-2 {
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: var(--black);
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.home-page .button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3afa8;
}

.home-page .contact {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: "Epilogue", Helvetica;
  font-weight: 600;
  color: var(--white);
  font-size: 20px;
  text-align: center;
  letter-spacing: 0;
  line-height: 30px;
  white-space: nowrap;
}

.home-page .headerimage {
  position: relative;
  flex: 1;
  min-width: 320px;
  max-width: 480px;
  flex-grow: 1;
  height: 360px;
}

.home-page .skills-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 42px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -3.8px;
  background-color: #f5eee6;
}

.home-page .cards-section {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-page .skills-card {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: center;
  justify-content: center;
  gap: 42px;
  padding: 64px 42px;
  position: relative;
  flex: 1;
  flex-grow: 1;
  background-color: #edd8dd;
}

.home-page .skills-card-icon {
  position: relative;
  width: 124px;
  height: 124px;
}

.home-page .div-2 {
  gap: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-page .title {
  height: 42px;
  margin-top: -1px;
  font-family: var(--h3-font-family);
  font-weight: var(--h3-font-weight);
  color: var(--black);
  font-size: var(--h3-font-size);
  text-align: center;
  letter-spacing: var(--h3-letter-spacing);
  line-height: var(--h3-line-height);
  white-space: nowrap;
  position: relative;
  align-self: stretch;
  font-style: var(--h3-font-style);
}

.home-page .this-is-a-template {
  position: relative;
  align-self: stretch;
  font-family: "Epilogue", Helvetica;
  font-weight: 400;
  color: var(--black);
  font-size: 17px;
  text-align: center;
  letter-spacing: 0;
  line-height: 27px;
}

.home-page .span {
  font-weight: 700;
}

.home-page .text-wrapper-3 {
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.home-page .img {
  height: 124px;
  position: relative;
  width: 127.38px;
}

.home-page .skills-card-icon-2 {
  height: 127.38px;
  position: relative;
  width: 127.38px;
}

.home-page .gallery-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 42px;
  padding: 42px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -3.8px;
  background-color: var(--white);
}

.home-page .latest-work {
  position: relative;
  width: fit-content;
  margin-top: -1px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--black);
  font-size: var(--h2-font-size);
  text-align: center;
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  white-space: nowrap;
  font-style: var(--h2-font-style);
}

.home-page .div-3 {
  min-width: 320px;
  align-items: flex-start;
  gap: 24px;
  flex: 1;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-page .image {
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 330px;
}

.home-page .title-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  width: 100%;
  flex: 0 0 auto;
  position: relative;
  align-self: stretch;
}

.home-page .image-2 {
  object-fit: cover;
  position: relative;
  align-self: stretch;
  width: 100%;
  height: 330px;
}

.home-page .gallery-section-2 {
  width: 1284px;
  height: 632px;
  align-items: center;
  gap: 42px;
  padding: 42px 24px;
  margin-left: -2px;
  margin-right: -2px;
  margin-top: -3.8px;
  background-color: var(--white);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  position: relative;
}

.home-page .cards-section-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 24px 24px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-bottom: -42px;
}

.home-page .contact-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 42px 24px 86px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
  margin-top: -3.8px;
  background-color: #edd8dd;
}

.home-page .lets-work-together {
  position: relative;
  width: 626px;
  margin-top: -1px;
  font-family: var(--h2-font-family);
  font-weight: var(--h2-font-weight);
  color: var(--black);
  font-size: var(--h2-font-size);
  letter-spacing: var(--h2-letter-spacing);
  line-height: var(--h2-line-height);
  font-style: var(--h2-font-style);
}

.home-page .contact-section-2 {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 142px 42px;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-page .contact-info {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  align-items: flex-start;
  gap: 42px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home-page .this-is-a-template-wrapper {
  gap: 42px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  align-self: stretch;
  width: 100%;
  flex: 0 0 auto;
}

.home-page .p {
  margin-top: -1px;
  position: relative;
  align-self: stretch;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.home-page .contact-form {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  max-width: 520px;
  align-items: flex-start;
  gap: 24px;
  position: relative;
  flex: 1;
  flex-grow: 1;
}

.home-page .input-field {
  min-width: 320px;
  max-width: 520px;
  padding: 16px 24px;
  background-color: #f3f3f3;
  position: relative;
  align-self: stretch;
  width: 100%;
  border: 0;
  flex: 1;
  flex-grow: 1;
  margin-top: -1px;
  font-family: var(--body-text-font-family);
  font-weight: var(--body-text-font-weight);
  color: #2d2d2d;
  font-size: var(--body-text-font-size);
  letter-spacing: var(--body-text-letter-spacing);
  line-height: var(--body-text-line-height);
  font-style: var(--body-text-font-style);
}

.home-page .contact-wrapper {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 24px 64px;
  position: relative;
  flex: 0 0 auto;
  background-color: #f3afa8;
  all: unset;
  box-sizing: border-box;
}
